* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mpc-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #89CFF0;
}

.mpc {
  height: 400px;
  width: 400px;
  background-color: #F8F8F8;
}