* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mpc-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mpc {
  height: 375px;
  width: 375px;
  border: solid black;
  background-color: #E8E8E8;
}

.mpc-cursor {
  width: 130px;
  height: 50px;
  border: solid black;
  transform: translate(50px, 280px);
}

.mpc-locate {
  width: 130px;
  height: 50px;
  border: solid black;
  transform: translate(50px, 310px);
}

.mpc-volume {
  height: 75px;
  width: 175px;
  background-color: #B8B8B8;
  transform: translate(185px, 50px);
  border: solid black;
}

.mpc-pads {
  height: 175px;
  width: 175px;
  background-color: #B8B8B8;
  transform: translate(185px, 60px);
  border: solid black;
}