* {
  padding: 0;
  margin: 0;
}

.face-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: slateblue;
}

.emoji-face {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: #ffcc4d;
}

.emoji-eyes {
  height: 60px;
  width: 150px;
  // border: solid red;
  transform: translate(15%, 80%);
  display: flex;
  justify-content: space-between;
}

.emoji-left-eye {
  height: 60px;
  width: 60px;
  border: solid 1px #664500;
  border-radius: 100%;
  background-color: #f5f8fa;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
}

.emoji-right-eye {
  height: 60px;
  width: 60px;
  border: solid 1px #664500;
  border-radius: 100%;
  background-color: #f5f8fa;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
}

.pupil {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #664500;
}

.emoji-mouth {
  height: 10px;
  width: 45px;
  border-radius: 50px 50px 50px 50px;
  border: solid 1px #664500;
  background-color: rgba(102, 69, 0, .5);
  transform: translate(163%, 700%);
}